package-lock.json
build
.vscode
.ionide
private
node_modules
.rts*
*.log


# Ignore files generated locally by running cmake . src/<project>
#CMakeFiles/
#cmake_install.cmake
#CMakeCache.txt
*.vcxproj
*.vcxproj.filters
*.sln
